<div class='attribution'>
  <p>Josh Symonds performs devops and server wrangling on cloud-scale infrastructures, deploys amazing web applications with Ruby on Rails, and creates awesome iOS apps with Objective-C and RubyMotion. He is founder and CTO of <a href='http://symondsandson.com'>Symonds &amp; Son</a>, a development shop focused on quality and excellence.</p>
  <img src="/images/josh.png" width='200' height='188' alt='Josh Symonds'/>
  <ul class='icons'>
    <li><i class="fa fa-phone"></i> 773-480-4810</li>
    <li><i class="fa fa-envelope"></i> <a href='mailto:josh@joshsymonds.com?Subject=Hi&nbsp;Josh!'>josh@joshsymonds.com</a></li>
    <li><i class="fa fa-link"></i> <a href='http://joshsymonds.com'>joshsymonds.com</a></li>
    <li><a href='https://github.com/Veraticus'><i class="fa fa-github"></i> github.com/Veraticus</a></li>
    <li><a href='https://twitter.com/Veraticus'><i class="fa fa-twitter"></i> twitter.com/Veraticus</a></li>
  </ul>
</div>
