---
---

<div class="link-grid">
  <slot />
</div>

<style>
  .link-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
  }
</style>
