// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@mixin centered {max-width: 1200px; margin: 0 auto; position: relative; display: block; height: auto; position: relative;}

a:hover {color: red};

html {background-color: $background;}

body {max-width: 10000px;

  header {background: transparent; @include centered;
    #avatar {position: absolute; top: -30px; z-index: -1; left: -150px;}
    .arrow_box {
      position: relative;
      background: image-url('noise.png') $cream;
      border: 4px solid $orange;
      padding: 10px 20px;
      margin: 0 0 0 330px;
      @include border-radius(10px);
      @include box-shadow(#585858 1px 1px 4px);
      h1 {
        font-weight: bold;
      }
    }
    .arrow_box:after, .arrow_box:before {
      right: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .arrow_box:after {
      border-right-color: $cream;
      border-width: 30px;
      top: 50%;
      margin-top: -30px;
    }
    .arrow_box:before {
      border-right-color: $orange;
      border-width: 36px;
      top: 50%;
      margin-top: -36px;
      @include border-radius(10px);
    }
  }

  a[rel='subscribe-rss'] {background-color: darken($purple, 80);}

  nav, footer[role='contentinfo'] {position: absolute; width: 100%; padding-left: 0; padding-right: 0; border-top-color: darken($nav-bg, 10); border-bottom-color: darken($nav-bg, 10); background-image: image-url('noise.png'); @include box-shadow(#585858 1px 1px 4px); background-color: $nav-bg;
    form .search {background-color: lighten($red, 55);}
    div#navigation { @include centered;
      ul.main-navigation {margin: 0px auto; padding-left: 55px;
        li:nth-child(2), li:nth-child(2) a {border-left: 0;}
        li#logo, li#logo a {color: darken($red, 20); margin-right: 10px; @include text-shadow(lighten($red, 40) 1px 1px 0);
          &:hover {color: lighten($violet, 30); @include text-shadow(light($violet, 10) 1px 1px 0);}
        }
      }
    }
  }
  nav.sticky {position: fixed; top: 0; left: 0; z-index: 1; border-top: 0;}

  div#main {@include centered; margin-top: 80px; border: 4px solid $orange; @include border-radius(10px); @include box-shadow(#585858 1px 1px 4px);
    div#content {@include border-top-left-radius(10px); @include border-bottom-left-radius(10px);}
    article {
        header {
          h1 {background: image-url('noise.png') $nav-bg; color: $title-color; @include box-shadow(#585858 1px 1px 4px); border-top: 1px solid darken($nav-bg, 10); border-bottom: 1px solid darken($nav-bg, 10); position: relative; left: -80px; padding: 5px 30px 5px 80px; min-width: 100%;
            &:after {
              content: ' ';  
              position: absolute;  
              width: 0;  
              height: 0;  
              left: 0px;  
              top: 100%;  
              z-index: -1;
              border-width: 5px 10px;  
              border-style: solid;  
              border-color: darken($nav-bg, 30) darken($nav-bg, 30) transparent transparent;  
            }
          }
        }
      .entry-content {margin-top: 10px;}
    }
  }

  footer[role='contentinfo'] {margin-top: 20px; padding-top: 10px; padding-bottom: 10px;
    div#footer {@include centered; color: $purple; padding-left: 110px; @include text-shadow(lighten($red, 10) 0 0 0);
      a {color: $purple;}
    }
  }
}